<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/style2.css">
</head>
<body>
    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class = "text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Ut quisquam provident voluptate animi excepturi cumque, 
                alias nam aliquid, dolorum natus laudantium deserunt ab,
                quae aut itaque earum quaerat rem nobis.
            </p>
            <div class="skills">
                <span>Web Design</span>
                <span>Photoshop & Illustrator</span>
                <span>Coding</span>
            </div>
        </div>
    </div>
</body>
</html>